<div class="side-bar-header">
    <span></span>
    <span>Book by Distance</span>
    <span><img src="../assets/images/icons/close.svg" alt="" /></span>
  </div>
  <div class="divider"></div>
  <div class="form">
    <input type="text" class="txt-control form-text" placeholder="Destination"/>
    <input type="text" class="txt-control form-text" placeholder="Pickup address"/>
    <button class="btn btn-secondary form-text">GET  YOUR FIXED FARE </button>
  </div>
  <div class="buttons-wrap">
    <button class="btn btn-error asap-btn"><img src="../assets/images/icons/flash.svg" alt="" srcset=""/> ASAP  <span></span></button>
    <button class="btn btn-primary asap-btn">SCHEDULE <span></span> <img src="../assets/images/icons/calender.svg" alt="" srcset=""/></button>
  </div>
  <div class="date-wrap">
    Monday 12-Apr-24  ,12:40 <img src="../assets/images/icons/check.svg" />
  </div>
  <div class="form">
    <input type="text" class="txt-control form-text" placeholder="Passenger name"/>
    <input type="text" class="txt-control form-text" placeholder="contact number or email"/>
    <textarea class="txt-control form-text text-area" placeholder="Additional note (flight nr ,train )"></textarea>
  </div>
  <div class="label">Amount</div>
  <div class="buttons-wrap">
    <input type="text" class="txt-control" />
    <button class="btn btn-primary simple-case"> Request Booking </button>
  </div>