/* Global styles */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background-image: url('../assets/images/bg-img.png');
	background-size: cover;
	background-repeat: no-repeat;
	font-family: "Inter", sans-serif;
}

.txt-control {
	font-family: "Inter", sans-serif;
}