.overlay {
	width: 100%;
	min-height: 100%;
	z-index: -1;
	position: fixed;
	top: 0;
	left: 0;
	background: rgb(185, 185, 185, 0.3);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(7px);
	-webkit-backdrop-filter: blur(7px);
}

.modal-wrapper {
	max-width: 1372px;
	width: calc(100% - 70px);
	margin: 50px auto;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	@include for-tab {
		flex-wrap: wrap;
	}
}