.side-bar {
	width: calc(420 / 1372 * 100%);
	background-color: #fff;
	@include for-tab {
		width: 100%;
		margin-bottom: 20px;
	}

	.side-bar-header {
		width: 100%;
		padding: 20px 20px 15px;
		font-size: 23px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: #636366;
		font-weight: 500;

		img {
			cursor: pointer;
		}
	}

	.divider {
		width: calc(100% - 24px);
		height: 1.6px;
		background-color: #272727;
		margin: 0 auto;
	}

	.form-text {
		margin-top: 10px;
	}

	.buttons-wrap {
		width: calc(100% - 24px);
		display: flex;
		column-gap: 20px;
		margin: 15px auto;

		.asap-btn {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	}

	.date-wrap {
		width: calc(100% - 24px);
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 15px auto 20px;
		font-size: 23px;
		font-weight: 500;
		color: #333333;
		padding: 0 14px;
		border-bottom: 1px solid #333333;
		@include for-lg{
			font-size: 17px;
		}

		@include for-lg-lt{
			font-size: 15px;
		}
	}

	.label {
		font-size: 11px;
		color: #828282;
		width: calc(100% - 24px);
		margin: 10px auto;
	}

	.simple-case {
		text-transform: capitalize;
		justify-content: center;
	}
}
